.food {
  width: 215px;
  height: 215px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  justify-content: center;
}

.menu-item {
  flex: 1;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.menu-item h2 {
  margin: 10px 0 5px 0;
}

.menu-item p {
  font-size: 14px;
  color: #666;
}

.menu-item h3 {
  margin: 10px 0 5px 0;
  color: #c68c56;
  font-size: 20px;
}

.item-details h2,
.item-details h3 {
  display: inline;
  margin: 6px;
}
